:root {
    --textPrimaryColor: white;
    --textSecondaryColor: white;
    --primaryColor: #8ABD91;
    --secondaryColor: #009f83;
}

* {
    margin: 0;
    padding: 0;
    color: var(--textPrimaryColor);
    text-decoration: none;
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--primaryColor);
}

ul {
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

h1 {
    font-size: 1.8rem;
}

#content {
    margin: 1rem 0;
}

#content h2 {
    margin: 1rem;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 0.3rem;
}

tr {
    border-bottom: var(--secondaryColor) 1px solid;
    cursor: pointer;
}

@media (max-width: 760px) {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: var(--secondaryColor) solid;
    }

    li {
        margin: 1rem 0;
        padding: 0 1rem;
        border-left: var(--secondaryColor) solid 1px;
        border-right: var(--secondaryColor) solid 1px;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: var(--secondaryColor);
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td,
    th {
        border: 1px solid #ccc;
        text-align: left;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "#";
    }

    td:nth-of-type(2):before {
        content: "Title";
    }

    td:nth-of-type(3):before {
        content: "Theme";
    }

    td:nth-of-type(4):before {
        content: "Worked Hours";
    }

    td:nth-of-type(5):before {
        content: "Validated Hours";
    }

    td:nth-of-type(6):before {
        content: "Start";
    }

    td:nth-of-type(7):before {
        content: "End";
    }
}

@media (min-width: 760px) {
    span.navbar-text::before {
        transform: scaleX(0);
        transform-origin: bottom right;
    }

    span.navbar-text:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    span.navbar-text::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: -1;
        transition: transform .3s ease;
    }

    span.navbar-text {
        position: relative;
    }

    a {
        font-size: 2rem;
    }

    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    nav {
        width: 30%;
    }


    #body {
        margin: 2rem;
    }

    #page {
        width: 55%;
    }

    .row-reverse {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
    }

    header {
        margin: 2rem;
    }

    footer {
        position: absolute;
        bottom: 0;
    }

    ul {
        padding: 0 2rem;
        border-left: var(--secondaryColor) solid;
    }

    table {
        border-collapse: collapse;
    }

    td,
    th {
        padding: 0.5rem;
    }

    tr {
        border-bottom: var(--secondaryColor) 1px solid;
        border-radius: 1rem;
        cursor: pointer;
    }

    tr:hover {
        background-color: var(--secondaryColor);
    }
}